################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SDETAPI_CSharp/SDETAPI_CSharp/bin/Debug/net6.0
/SDETAPI_CSharp/SDETAPI_CSharp/obj
/SDETAPI_CSharp/.vs/SDETAPI_CSharp
/SDETAPI_CSharp/.vs/ProjectEvaluation
